nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

nav a {
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    border: solid 2px blue;
}

.active-link {
    background-color: blue;
    color: white;
}
